@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800;900&family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --background-color: #242B2E;
    --primary-color: #9EFF8F;
    --white-color: #FCFEFF;
    --black-color: #0D0D0D;
    --light-gray-color: #2E3133;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.contact-content h1 {
    grid-column: 1 / span 2;
    font-family: 'Ubuntu',sans-serif;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 0.3rem;
    position: relative;
}

.contact-content h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    animation: headingdot 3s linear infinite;
}

@keyframes headingdot {
    0% {
        left: 0%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.left-card {
    width: 50%;
    height: 60vh;
    background-color: var(--light-gray-color);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.left-card .input-text input {
    width: 100%;
    padding: 0.5rem 3rem;
    text-align: center;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.2rem;
    background: transparent;
    color: var(--white-color);
}

.left-card .input-text textarea {
    width: 100%;
    text-align: center;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.2rem;
    background: transparent;
    color: var(--white-color);
    padding: 2.5rem 3rem;
}

.left-card button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.right-card img{
    width: 110%;
}

@media screen and (max-width: 1220px) {
    .left-card {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .left-card {
        width: 80%;
    }
}

@media screen and (max-width: 870px){
    .left-card h1{
        font-size: 1.2rem;
    }

    .left-card .input-text input {
        padding: 0.5rem 2rem;
    }
    
    .left-card .input-text textarea {
        padding: 2.5rem 2.2rem;
    }
}

@media screen and (max-width: 790px) {
    .right-card {
        z-index: -1;
    }
    
    .right-card img{
        display: none;
    }

    .contact-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-card .input-text input {
        padding: 0.5rem 5rem;
    }
    
    .left-card .input-text textarea {
        padding: 2.5rem 5.2rem;
    }
}